# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
devamsizlik.db 

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE Dosyaları
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?